# Import Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Kamron\Downloads\Achievement 4'

In [3]:
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Exercise 4.7

In [4]:
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [5]:
# Creating subset

df = orders_products_merged[:1000000]

In [6]:
df.shape

(1000000, 15)

# If Statements

In [7]:
# defining function

def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Kamron\AppData\Local\Temp\ipykernel_18680\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
# Counting occurrences of unique values (includes missing values, if any)

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [10]:
# checking max value within the 'prices' column (in subset)

df['prices'].max()

14.8

# If Statements with For loops

In [12]:
# number of orders per day
orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [13]:
# creating container

result = []

In [21]:
# Adding elements

for value in orders_products_merged['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [16]:
orders_products_merged['busiest_day'] = result

In [17]:
orders_products_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regular busy    22437387
Busiest day      6209632
Least busy       3787193
Name: count, dtype: int64

In [18]:
# Question 2

In [19]:
# Counting number of orders per day

orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [20]:
# Creating empty shell

result2 = []

In [22]:
# Adding new labels

for value in orders_products_merged['orders_day_of_week']:
    if value == 0 or value == 1:
        result2.append('Busiest days')
    elif value == 4 or value == 3:
        result2.append('Slowest days')
    else:
        result2.append('Regularly days')

In [29]:
# Creating new column 'busiest_days'

orders_products_merged['busiest_days'] = result2

In [30]:
# Check
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days

In [25]:
# Question 3

In [31]:
orders_products_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly days    12927461
Busiest days      11875462
Slowest days       7631289
Name: count, dtype: int64

In [32]:
# Question 4

# checking columns

orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days

In [33]:
# Creating dataframe with counts of orders per hour

counts = orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name = 'counts')

In [34]:
counts

    hour   counts
0     10  2764390
1     11  2738585
2     14  2691563
3     15  2664522
4     13  2663272
5     12  2620800
6     16  2537469
7      9  2456661
8     17  2089452
9      8  1719952
10    18  1637922
11    19  1259382
12    20   977017
13     7   891928
14    21   796362
15    22   634737
16    23   402612
17     6   290770
18     0   218942
19     1   115786
20     5    88057
21     2    69431
22     4    53283
23     3    51317

In [35]:
# Creating list showing the percentiles for the value counts of the column 'order_hour_of_day'

orders = list(orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [36]:
orders

[272813.0, 1118199.5, 2558301.75]

### Creating lists

In [37]:
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [38]:
average = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [39]:
most = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

### Creating indexes

In [40]:
index_few = orders_products_merged['order_hour_of_day'].isin(few)

In [41]:
index_average = orders_products_merged['order_hour_of_day'].isin(average)

In [42]:
index_most = orders_products_merged['order_hour_of_day'].isin(most)

### Creating new column with labels

In [43]:
orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [44]:
orders_products_merged.loc[index_average,'busiest_period_of_day'] = 'Average orders'

In [45]:
orders_products_merged.loc[index_most,'busiest_period_of_day'] = 'Most orders'

In [46]:
# check 1
orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,Busiest_days,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regular busy,Regularly days,Regularly days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regular busy,Slowest days,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Slowest days,Most orders

In [48]:
# Check 2

orders_products_merged.shape

(32434212, 19)

In [49]:
# Question 5

In [50]:
# Printing frequency

In [51]:
orders_products_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       16143132
Average orders    15694264
Fewest orders       596816
Name: count, dtype: int64

In [52]:
# Question 7

orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))